streamlit==1.22.0
pandas==1.5.3
numpy==1.23.5
scikit-learn==1.2.2
matplotlib==3.7.1
tensorflow-cpu==2.11.0
geopandas==0.12.2
pydeck==0.8.0  # Changed from 0.8.1 to compatible version
protobuf==3.20.3
